<template>
  <RouterLink :to="props.path || ''">{{ titleCase }}</RouterLink>
</template>

<script setup lang="ts">
import { computed } from 'vue';
import { RouterLink } from 'vue-router';

const props = defineProps({
  path: String,
  name: String
})

const titleCase = computed(() => {
  const nameUpper = props.name?.toUpperCase()
  const otherWords = props.name?.slice(1)
  return `${nameUpper?.charAt(0)}${otherWords}`
})
</script>

<style scoped>

</style>