<template>
  <MenuItem v-for="route in routes" :key="route.name" :path="route.path" :name="(route.name as string)"/> 
</template>

<script setup lang="ts">
import MenuItem from './MenuItem.vue';
import router from '@/router';

const routes = router.options.routes
</script>

<style scoped>
</style>