<script setup lang="ts">
import IconAlert from '@/components/icons/IconAlert.vue';
import IconArrowDown from '@/components/icons/IconArrowDown.vue';
import { ref } from 'vue';

const name = ref('')
const lastName = ref('')
const age = ref(0)
const gender = ref('')
const otherGender = ref('')

const nameError = ref(false)
const lastNameError = ref(false)
const ageError = ref(false)
const genderError = ref(false)
const otherGenderError = ref(false)

const validationName = () => {
  if (name.value.trim().length < 5 || name.value.trim().length > 18) {
    nameError.value = true
    return
  }

  nameError.value = false
}

const validationLastName = () => {
  if (name.value.trim() === lastName.value.trim()) {
    lastNameError.value = true
    return
  }

  lastNameError.value = false
}

const validationAge = () => {
  if (!age.value) {
    ageError.value = true
    return
  }

  if (age.value < 1 || age.value > 59) {
    ageError.value = true
    return
  }

  ageError.value = false
}

const validationGender = () => {
  if(gender.value === '') {
    genderError.value = true
    return
  }

  genderError.value = false
}

const validationOtherGender = () => {
  if(otherGender.value.trim() === '' && gender.value === 'other'){
    otherGenderError.value = true
    return
  }

  otherGenderError.value = false

}

const submitForm = () => {
  validationAge()
  validationLastName()
  validationName()
  validationGender()

  validationOtherGender()
  if(nameError.value || lastNameError.value || ageError.value || gender.value === '') return

  alert(`Información:
  Nombre: ${name.value.trim()}
  Apellido: ${lastName.value.trim()}
  Edad: ${age.value}
  Género: ${gender.value !== 'other' ? gender.value : otherGender.value.trim()}
  `)
}

</script>

<template>
  <main>
    <h1>Formulario</h1>
    <form id="formulario" @submit.prevent="submitForm">
      <div>
        <label>Nombre:</label>
        <div :class="{'error': nameError}">
          <input type="text" placeholder="Nombre" v-model="name" @input="validationName">
          <IconAlert v-if="nameError" />
        </div>
        <p v-if="nameError">Tu nombre debe de tener entre 5 a 18 caracteres</p>
      </div>
      <div>
        <label>Apellido:</label>
        <div :class="{'error': lastNameError}">
          <input type="text" placeholder="Apellido" v-model="lastName" @input="validationLastName">
          <IconAlert v-if="lastNameError" />
        </div>
        <p v-if="lastNameError">Tu apellido debe de ser diferente a tu nombre</p>
      </div>
      <div>
        <label>Edad:</label>
        <div :class="{'error': ageError}" >
          <input placeholder="Edad" type="number" v-model="age" @input="validationAge">
          <IconAlert v-if="ageError" />
        </div>
        <p v-if="ageError">Tu edad debe entre 1 a 59</p>
      </div>
      <div>
        <label>Género:</label>
        <div class="container-select">
          <select :class="{'error-select': genderError}" v-model="gender" @change="validationGender">
            <option disabled value="">Selecciona una opción</option>
            <option value="M">Masculino</option>
            <option value="F">Femenino</option>
            <option value="other">Otro</option>
          </select>
          <IconArrowDown />
        </div>
        <p v-if="genderError">Selecciona una opción</p>
      </div>

      <div>
        <div v-if="gender === 'other'" :class="{'error': otherGenderError}" >
          <input type="text" v-model="otherGender" placeholder="Otro género" @input="validationOtherGender">
          <IconAlert v-if="otherGenderError" />
        </div>
        <p v-if="otherGenderError">Este campo es requerido</p>
      </div>
      
      <button type="submit">Confirmar</button>
    </form>
  </main>
</template>

<style>

main {
    padding: 0px 16px;
}
#formulario {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

#formulario label {
  display: block;
  margin-bottom: 6px;
}
input {
  background-color: transparent;
  border: #ebebeba3 1px solid;
  border-radius: 4px;
  color: #ebebeba3;
  outline: none;
  padding: 12px 14px;
  width: 100%;
}

input:focus{
    outline: white solid 1px;
}

.error {
  color: #f96161;
  position: relative;
}

.error svg {
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
}

.error input{
  border: #f96161 1px solid;
  padding-right: 36px;
}

.error input:focus {
  border: #f96161 1px solid;
  outline: #f96161 solid 1px;
}

.error-select{
  border: #f96161 1px solid;
}

.error-select + svg{
  color: #f96161;
}

.error-select:focus {
  border: #f96161 1px solid;
  outline: #f96161 solid 1px;
}

select {
  background-color: transparent;
  color: #ebebeba3;
  padding: 12px 8px;
  border: #ebebeba3 1px solid;
  border-radius: 4px;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.container-select{
  position: relative;
}

.container-select svg{
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
}

option {
  color: #ebebeba3;
  background-color: var(--vt-c-black-mute);
}

option {
  color: #ebebeba3;
  background-color: var(--vt-c-black-mute);
}

div p {
  color: #f96161;
  line-height: normal;
  font-size: 14px;
}

button {
  background-color: hsla(160, 100%, 37%, 1);
  border: none;
  padding: 12px 14px;
  border-radius: 4px;
  outline: none;
  margin-top: 12px;
}

button:hover {
  cursor: pointer;
}

@media (min-width: 1024px) {
  main {
    min-width: 425px;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  appearance: none;
}
</style>


